# Activity: Exploring Transcript Data with Pandas
In this activity, we will apply what we've learned about pandas to explore a dataset containing transcript information. Our dataset, `transcript.csv`, includes columns for `name`, `exonCount`, `geneType`, and `txLen`.

In [1]:
# First, import pandas as pd
import pandas as pd

### Loading the Dataset
Load the `transcript.csv` file into a DataFrame and display the first five rows to understand what the data looks like.

In [2]:
# Load the transcript.csv file into a DataFrame
transcript_df = pd.read_csv('transcript.csv')


# Display the first five rows of the DataFrame
transcript_df.head()

                name  exonCount        geneType   txLen
0  ENST00000237247.6         27  protein_coding  210992
1  ENST00000371039.1         22  protein_coding  211494
2  ENST00000371035.3         22  protein_coding  209060
3  ENST00000468286.1         10  protein_coding  142941
4  ENST00000371036.3         21  protein_coding  214114

### Basic Data Exploration
Let's start by exploring some basic characteristics of our dataset.

In [3]:
# Print the shape of the DataFrame and save it to 'transcript_shape'
transcript_df_shape = transcript_df.shape
transcript_df_shape

(100, 4)

In [4]:
# check the shape
assert transcript_df_shape == (100, 4)

### Filtering Data
Now, filter the dataset to find only the transcripts that are of the type `protein_coding`.

In [13]:
# Create a new dataframe called protein_coding_df that only contains protein_coding gene types
protein_coding_df = transcript_df[transcript_df['geneType'] == 'protein_coding'].copy()

protein_coding_df

                 name  exonCount        geneType   txLen
0   ENST00000237247.6         27  protein_coding  210992
1   ENST00000371039.1         22  protein_coding  211494
2   ENST00000371035.3         22  protein_coding  209060
3   ENST00000468286.1         10  protein_coding  142941
4   ENST00000371036.3         21  protein_coding  214114
..                ...        ...             ...     ...
95  ENST00000373747.3         22  protein_coding  134199
96  ENST00000426105.2         22  protein_coding  132870
97  ENST00000440538.2         22  protein_coding  132841
98  ENST00000373741.4         22  protein_coding  133142
99  ENST00000423018.2         19  protein_coding  132831

[96 rows x 4 columns]

In [6]:
assert len(protein_coding_df) == 96
assert protein_coding_df['geneType'].unique() == ['protein_coding']

### Analyzing Transcript Lengths
Calculate the average transcript length (`txLen`) for the `protein_coding` genes.

In [7]:
# Calculate the average transcript length for protein_coding genes
average_txLen = protein_coding_df['txLen'].mean()

average_txLen

196796.70833333334

In [8]:
assert average_txLen > 196796.7
assert average_txLen < 196796.8

### Exploring Exon Counts
Find the transcript with the highest number of exons and display its details.

In [11]:
# Find the transcript with the highest number of exons
max_exons = protein_coding_df['exonCount'].max()

max_exon_transcript = protein_coding_df[protein_coding_df['exonCount'] == max_exons] 

max_exon_transcript

                 name  exonCount        geneType   txLen
0   ENST00000237247.6         27  protein_coding  210992
70  ENST00000308271.9         27  protein_coding  105028
72  ENST00000529637.1         27  protein_coding  103625

In [10]:
assert len(max_exon_transcript) == 3

### Adding a New Column
Add a new column to the DataFrame called `txLenKB` which represents the transcript length in kilobases (1 kilobase = 1000 bases).

In [14]:
# Add a new column for transcript length in kilobases
protein_coding_df['txLenKB'] = protein_coding_df['txLen'] / 1000

protein_coding_df.head()

                name  exonCount        geneType   txLen  txLenKB
0  ENST00000237247.6         27  protein_coding  210992  210.992
1  ENST00000371039.1         22  protein_coding  211494  211.494
2  ENST00000371035.3         22  protein_coding  209060  209.060
3  ENST00000468286.1         10  protein_coding  142941  142.941
4  ENST00000371036.3         21  protein_coding  214114  214.114

### Sorting Data
Sort the DataFrame based on the `txLenKB` column in descending order to see the longest transcripts first.

In [16]:
# Sort the DataFrame by txLenKB in descending order
protein_coding_df.sort_values(by='txLenKB', ascending=False, inplace=

protein_coding_df.head()

                 name  exonCount        geneType    txLen   txLenKB
26  ENST00000485760.1         21  protein_coding  1548835  1548.835
23  ENST00000371839.1         14  protein_coding  1491059  1491.059
24  ENST00000371838.1          9  protein_coding  1389706  1389.706
25  ENST00000371836.1          7  protein_coding  1206394  1206.394
63  ENST00000303635.7         23  protein_coding   984383   984.383

In [18]:
protein_coding_df

                 name  exonCount        geneType    txLen   txLenKB
26  ENST00000485760.1         21  protein_coding  1548835  1548.835
23  ENST00000371839.1         14  protein_coding  1491059  1491.059
24  ENST00000371838.1          9  protein_coding  1389706  1389.706
25  ENST00000371836.1          7  protein_coding  1206394  1206.394
63  ENST00000303635.7         23  protein_coding   984383   984.383
..                ...        ...             ...      ...       ...
11  ENST00000457722.2          8  protein_coding    18350    18.350
10  ENST00000504551.2          6  protein_coding    18288    18.288
66  ENST00000321556.4          8  protein_coding    18057    18.057
62  ENST00000343813.5          5  protein_coding    14748    14.748
67  ENST00000492302.1          5  protein_coding    13188    13.188

[96 rows x 5 columns]

### Saving Your Work
Finally, save your filtered DataFrame of `protein_coding` genes into a new CSV file named `protein_coding_transcripts.csv`.

In [17]:
# Save the protein_coding DataFrame to a new CSV file
protein_coding_df.to_csv('protein_coding_transcripts.csv', index=False)